.todo-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  background-color: #e2ece1;
  .left-col {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fcf8;
    .logo {
      position: absolute;
      top: 0;
      padding: 24px;
      font-size: 36px;
      font-weight: 700;
      color: #05363e;
    }
    .logout-btn {
      position: absolute;
      top: 0;
      padding: 24px;
      right: 0;
    }
    .content-form {
      padding: 24px 72px;
      width: 80%;
      margin: 0 auto;
      color: #05363e;
      .title {
        text-align: left;
        margin-bottom: 0;
        span {
          color: #739af0;
        }
      }
      .sub-title {
        text-align: left;
        margin: 0;
      }
      .login-form {
        margin-top: 32px;
        .box-input {
          > .label-title {
            color: #05363e;
            font-size: 15px;
            font-weight: 500;
          }
          .groupe-input {
            border-color: #b7cdb6;
          }
        }
      }
    }
  }
  .right-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 24px 56px;
    overflow-y: auto;
    height: 100vh;
    .tasks-row {
      margin-bottom: 40px;
      .title {
        color: #739af0;
        font-weight: 600;
        font-size: 22px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .gray-btn {
      text-align: right;
    }
    .wrap-order-list-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
